.main.flex {
    gap: 2rem;
    align-items: flex-start;

}
.main.flex .left-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.main.flex .left-section button {
    font-size: 1.05rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color:rgba(36 , 37 , 46 , 1) ;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    opacity: 0.5;
    transition: all 0.3s ease;
} 
.main.flex .left-section button.active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    border: 1px solid var(--blue);
}
.main.flex .left-section button:hover{
    opacity: 1;

}
.main.flex .right-section {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
}
 .main.flex .right-section .card{
    border:1px solid rgba(93 ,188 , 252 , 0.3);
    transition: 0.3s ease;
    border-radius: 10px;
    
}
.main.flex .right-section .card:hover{
    border: 1px solid var(--blue);
    transform: rotate(1deg);
    scale: 1.02;
    cursor: pointer;
}
.card .img-project{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 160px;
    object-fit: contain;
}
.card .box{
    width: 100%;
    padding: 1rem 0.4rem;
    
}
.card .box .title{
    font-size: 1.2rem;
    color: var(--title-color);
    text-transform: capitalize;

}
.card .box .sub-title{
    font-size: 1rem;
    color: var(--subTitle);
    margin: 0.8rem 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .last  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    margin-top: 0.5rem;
}
.card .last .date{
    font-size: 0.8rem;
    color: var(--subTitle);
    margin-top: 1rem;
}
.card .last .link{
    display: flex;
    gap: 1rem;
    
}
/* .card .last .link .link1:hover , .card .last .link .link2:hover{
    filter: invert(1);
} */
.card .last a>img{
    width: 30px;
    font-size: 1rem;
}
.card .last a>img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    mix-blend-mode: multiply;
    
}
.card .box  .last .link-to-page{
    all: unset;
    background-color: var(--blue);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
}
.img-project{
    width: 260px;
    height: auto;
    text-align: center;
}
@media (max-width: 600px) {
    .main.flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main.flex .left-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main.flex .left-section button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
  
    
}
@media (min-width: 600px) and (max-width: 1100px) {
    .main.flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main.flex .left-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main.flex .left-section button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
    .main.flex .right-section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
} 
    
}