.contact {
    line-height: 1.56rem;
}

.contact  .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
     color: var(--title-color);
}
.contact  .title img{
    width: 40px;
    margin-right: 1rem;
   
    
}
.contact   p{
    color: var(--subTitle);
    margin: 1rem;
}
.contact label{
    color: var(--subTitle);
    margin: 1rem;
}
.contact form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    
}
.contact form .email , .contact form .texteara{
    display: flex;
    align-items: center;
}
section.contact #email , section.contact #messege{
  all: unset;
  background-color:rgba(63, 63, 70, 0.15) ;
  border: 1px solid rgba(63, 63, 70);
  width: 20rem;
  font-size: 1.1rem;
  padding: 0.88rem;
  transition: 0.5s;
  border-radius: 10px;
  color: var(--subTitle);
}
section.contact #messege{
    min-height: 9rem;
    resize: vertical;
    
}
section.contact #email:focus , section.contact #messege:focus{
    border: 1px solid rgba(45 , 212, 191);
}
section.contact #email:hover , section.contact #messege:hover{
    border: 1px solid rgba(45 , 212, 191);
}
section.contact button{
    font-size: 1.05rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color:rgba(36 , 37 , 46 , 1) ;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    opacity: 1;
    transition: all 0.3s ease;
    margin-top: 1.8rem;
    width: 120px;
    text-align: center;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.success-message {
  color: #28a745; 
  background-color: #e6f4ea; 
  padding: 10px 15px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  display: flex;
}

section.contact button:hover{
    scale: 0.97;
}
section.contact .detailes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
section.contact .detailes .animation{
   width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contact .detailes .animation .contactUS{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sucess{
    width: 50px;
    height: 50px;
}
section.contact form{
    width: 50%;
}
@media (max-width: 500px) {
    section.contact .detailes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section.contact .detailes form {
        width: 100%;
        
    }
    section.contact button{
        margin: 10px auto;
        width: 90%;
    }
    section.contact .animation {
        display: block;
        width: 100%;
    }
    section.contact .detailes .animation .contactUS{
    width: 110%;
    height: 100%;

}
    .contact form .email , .contact form .texteara {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
.contact form #email  , .contact form  #messege{
    width: 90%;
}
}
