*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section.hero {
  display: flex;
    margin-top: 1rem;
    align-items: center;
}
section.hero .left_section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 1rem;
}

section.hero .left_section p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1rem;
}

section.hero .left_section button {
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
}


section.hero .left_section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* padding: 3rem; */

}
section.hero .left_section .avatar {
    width: 90px;
    border-radius: 50%;
    border: 1px solid yellow;
    padding: 1px;
    box-shadow: 2px 2px 40px gray inset;
    margin-right: 16px;

}
section.hero .left_section h1.title{
    margin:10px 0; 
    font-size: 2rem;
}
section.hero .left_section p.description{
    font-size: 1.2rem;
    color: var(--subTitle);
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
section.hero .right_section {
  width: 100%;
  height: 100%;
}
.icon-verified{
    display: inline-block;
    width: 20px;
    font-size: x-large;
    background: #1DA1F2;
    border-radius: 50%;
}
.icons {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}
.icons .icon img{
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border-radius: 50%;
}
.icons .icon img:hover{
    color: #fff;
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 20px #1DA1F2;
    cursor: pointer;
}
@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: center;
  }

  .left_section,
  .right_section {
    width: 100%;

  }
  .right_section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right_section .developerAnimation{
    width: 70%;
  }

  .icons {
    justify-content: center;
  }
}