/* Header */

header.flex{
    justify-content: space-between;
    padding: 0 2.4rem;
    margin: 1rem;

}
header.flex nav{
    background-color: var(--bg-header);
    padding: 0.77rem 1.6rem;
    border-radius: 25px;
    box-shadow: 1px 1px 20px #2323242a;
}

header ul.flex{
    gap: 20px;
    
}
header ul li a{
    color: var(--title-color);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}
header ul li a:hover{
    color: var(--blue);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}

.menu{
    display: none;
}
.border{
    border: 1px solid var(--border);
}
header button{
    font-size: 1.2rem;

}
/* Model */
header .fixed{
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgba(40, 40, 48, 0.91);
    animation: mymove 0.4s ease-in-out;
    
}
header .fixed ul{  
    width: 75%;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 2rem 3rem;
    background-color: var(--secondary-color);
}
@keyframes mymove{
    0%{
        transform: scale(0);
    }
    60%{
        scale: 1.2;
    }
    100%{
        transform: scale(1);
    }
}
header .fixed ul li {
    font-size: 24px;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}
header .fixed ul li:last-child{
    border: none;
}
header .fixed ul li a{
    font-size: 1.4rem;
}
header .fixed ul li:first-child{
    text-align: right;
    cursor: pointer;
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}
@media (max-width: 600px) {
    header.flex .one{
        display: none;
    }
    header.flex nav{
        display: none;
    }
    .menu{
        display: block;
        font-size: 40px;
    }
}
/* Moon Icon */
.moon ,.menu{
    font-size: 23px;
    background-color: var(--bg-header);
    height: 2.4rem;
    width: 2.4rem;
    text-align: center;
    border-radius: 50%;
    padding: .2rem;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-50 , -50);
    cursor: pointer;
    color: var(--subTitle);
}
.moon:hover,.menu:hover{
    color: var(--title-color);
    border: 1px solid rgba(250, 128, 114, 0.642);
}
.icon-close{
    font-size: 2rem;
    color: var(--subTitle);
    transition: 0.3s;
}
.icon-close:hover{
    font-size: 1.6rem;
    color: crimson;
    transform: rotate(180deg);
}
